h1,h2 {
	color: red;	
}

.text-center {
	text-align: center;
}
#rounded-img {
	border-radius: 50px;
}
table,th {
	border: 1px solid green;
}
body {
	background-color: lightblue;
}
.inset {border-style: inset;}
.outset {border-style: outset;}
h5 {
	text-shadow: 2px 2px red;
}